# 의존성
node_modules/

# 빌드 결과물
dist/

# 로그
*.log
npm-debug.log*

# 에디터 / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# 환경변수 (혹시 나중에 쓰게 될 경우 대비)
.env
.env.local
.env.*.local

# Vite 캐시
.vite/